@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe7da;
}

.header-section {
  margin-top: 1rem;
  text-align: center;
}

.header-title {
  font-size: 3rem;
}

.header-paragraph {
  font-size: 1rem;
  font-style: italic;
}

.main-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money-display {
  font-size: 4rem;
  font-weight: 700;
}

.progressBar-container {
  width: 600px;
  height: 35px;
  border: 2px solid #0e4749;
}

.progressBar {
  width: 30%;
  height: 100%;
  background-color: #002626;
}

.upgrades-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.upgrades-buttons-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  width: 100px;
  height: 70px;
}

.button-title {
  font-weight: bold;
}

.stats-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: flex-start;
}
